header {
    >img {
        max-width: 90%;
        display: block;
        margin-inline: auto;
        filter: contrast(80%);
    }

    >h1 {
        margin-top: 0;
        padding-top: 1rem;
    }
}

main>.content {
    /* overflow: scroll; */
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;

    >* {
        scroll-snap-align: center;
    }

    h1,
    h2 {
        position: relative;
        scroll-snap-align: start;
        text-align: center;

    }

    h2 {
        width: fit-content;
        margin-inline: auto;

        &::after {
            --height: 0.063rem;

            content: '';
            position: absolute;
            display: block;
            position: absolute;

            bottom: 0;
            left: 0;
            width: 100%;
            height: var(--height);

            background-image: linear-gradient(to left, transparent, blue, rgb(66, 0, 128), transparent);
            border-radius: calc(var(--height)/2);
        }

    }
}

.content {
    section {
        margin-inline: auto;
        position: relative;
        padding-block: 5rem;
        padding-inline: 1rem;
    }
}

#ueberlegenheit ul {

    span {
        position: relative;
        left: 0.3em;
    }

    li::marker {
        content: '✅';
    }
}

#kundenstimmen {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    gap: 1em;

    .wrapper-padding {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}

.kundenstimme {
    position: relative;
    padding: 2em;
    background-color: darkcyan;
    border-radius: 1em;
    max-width: 60em;
    transition: all 1s ease-in-out;

    p {
        margin: 0;
        margin-top: -1em;
        height: 0;
        overflow: visible;
        text-align: right;
    }
}

.kundenstimme.visible {
    opacity: 1;
    left: 1em !important;
}

.kundenstimme::before {
    position: absolute;
    font-family: Helvetica, sans-serif;
    content: "\201C";
    top: -0.2em;
    rotate: -5deg;
    font-size: 20em;
    color: rgba(0, 0, 0, 0.1);
}


.rating-wrapper {
    /* height: 5rem; */
    width: fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;

    img {
        display: block;
    }

    .rating-star {
        min-width: 24px;
        scale: 1;
        transition: all 1s;
        transition-timing-function: linear(0, -0.001 0.8%, -0.004 1.7%, -0.016 3.4%, -0.036 5.2%, -0.065 7.1%, -0.134 10.8%, -0.284 17.6%, -0.338 20.2%, -0.385 22.9%, -0.417 25.3%, -0.43 26.7%, -0.438 28%, -0.441 29.3%, -0.439 30.6%, -0.433 31.8%, -0.421 33%, -0.404 34.2%, -0.383 35.3%, -0.354 36.5%, -0.322 37.6%, -0.241 39.8%, -0.134 42%, -0.007 44.1%, 0.116 45.8%, 0.257 47.5%, 0.651 51.5%, 0.82 53.4%, 0.98 55.5%, 1.117 57.7%, 1.236 60.1%, 1.325 62.5%, 1.359 63.7%, 1.389 65%, 1.412 66.3%, 1.427 67.6%, 1.435 68.5%, 1.44 69.5%, 1.441 70.5%, 1.44 71.5%, 1.436 72.5%, 1.428 73.6%, 1.404 75.8%, 1.372 77.9%, 1.328 80.3%, 1.137 89.1%, 1.068 92.7%, 1.038 94.7%, 1.017 96.5%, 1.004 98.3%, 1.001 99.2%, 1);
    }

    .rating-star.hidden {
        scale: 0;
        transition-timing-function: linear;
    }

    figcaption {
        margin-inline: auto;
    }
}


@keyframes logoRotate {
    from {
        transform: skew(0);
    }

    to {
        transform: translateX(0.938rem);
    }
}

@media screen and (max-width: 37.5rem) {
    /* .content>section {
        margin-inline: 0;
    } */
}

@media (prefers-reduced-motion: no-preference) {
    .kundenstimme {
        opacity: 0;
        left: -10%;
    }
    .kundenstimme:nth-of-type(2) {
        left: 10%;
    }
}

/* -  DEBUG  - */

/* * {
    outline: 5px solid lime;
} */

