

.checkout-card {
    padding: 2em;
    table {
        width: 100%;
        border: 1px solid;
    }

    table, tr, td {
        border-collapse: collapse;
    }

    th {
        border-bottom: 2px solid;
    }

    td, th {
        text-align: right;
    }

    tr:nth-child(2n) {
        background-color: color-mix(in srgb, transparent 75%, gray);
    }
}

#checkout-total {
    text-align: right;
}

#checkout-pay-btn {
    padding: 1.5em;
    border-radius: 2em;
    margin-left: auto;
    display: flex;
    &:hover {
        transform: scale(1.1);
    }
}

#reset-cart-btn {
    color: black;
    border-radius: 50%;
    svg, svg * {
        fill: black;
    }

    &:hover {
        transform: scale(1.1);
    }

    display: flex;
    margin-left: auto;
}