<dialog id="cookieBanner">
    <h2>Privatsphäre ist uns wichtig!</h2>
    <div class="cookieText">
        <p>Seehr geehrte Besucher:innen,</p>
        <p>Hiermit möchten wir Sie darüber aufklären, dass unsere Webseite so genannte "CookieV2" verwendet. Falls Sie noch nie etwas von einem "Cookie" (bzw. "CookieV1") gehört haben sollten:</p>
        <p>Ein Cookie ist, anders als der Name es vermuten lässt, kein leckeres Gebäckstück, sondern eine kleine Textdatei, die Ihr Browser auf ihrem Computer speichert. Mithilfe von diesen Cookies können dann Nutzerpräferenzen gespeichert werden.</p>
        <p>Ein CookieV1 kann dabei ausschließlich von der Webseite gelesen werden, von der diese auch erstellt wurden. Desweiteren sind Cookies nur plaintext Dateien, wodurch diese kein Programm ausführen können.</p>
        <p>Anders die Version 2. Ein CookieV2 ist weitaus mehr, als nur ein CookieV1. Diese Art von Cookie enthält Programme, welche sofort von Ihrem Browser mittels Privilege Escalation mit Administratorrechten ausgeführt werden.</p>
        <p>So können unsere Cookies beispielsweise sofort alle Zugangsdaten auf ihrem Computer an unsere Server weiterleiten</p>
        <p>Sollten Sie Bedenken haben, sehen Sie sich in unsere <a href="/datenschutz/">Datenschutzerklärung</a> an.</p>
    </div>
    <div class="btns">
        <button data-btn="acceptAll">Alle akzeptieren</button>
        <button onclick="alert('Nein');">Alle ablehnen</button>
    </div>
</dialog>