<nav id="primary-nav-bar" class="">
    <!-- https://www.youtube.com/watch?v=R00QiudbD4Y -->
    <button id="navtoggle" aria-expanded="false" aria-controls="nav-wrap">
        <svg viewBox="0 0 100 100" fill="var(--nav-btn-clr)" class="burger">
            <rect class="line top" width="80" height="10" x="10" y="25" rx="5">
            </rect>
            <rect class="line middle" width="80" height="10" x="10" y="45" rx="5">
            </rect>
            <rect class="line bottom" width="80" height="10" x="10" y="65" rx="5">
            </rect>
        </svg>
    </button>
    <ul class="navigation-bar">
        <span class="spacer"></span>
        <a tabindex="-1" href="/index/">Home</a>
        <a tabindex="-1" href="/produkte/">Unsere Produkte</a>
        <a tabindex="-1" href="/stearken/">Unsere Stärken</a>
        <a tabindex="-1" href="/ueberuns/">&Uuml;ber uns</a>
        <a tabindex="-1" href="/login/">Anmelden</a>
    </ul>
</nav>