<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../src/templates/head.html') %>

    <link rel="stylesheet" href="/assets/global/global.css">
    <link rel="stylesheet" href="style.css">

    <script src="/assets/global/global.js"></script>
    <script src="/user/script.js"></script>
</head>

<body>
    <%- include('../src/templates/navbar.html') %>
    <main>
        <header>
            <div class="wrapper-padding">
                <h1>Benutzerseite</h1>
            </div>
        </header>
        <section>
            <h2>Benutzername</h2>
            <form id="username-form">
                <p>Aktuell: <%= username %></p>
                <label for="">Nutzername</label>
                <input type="text" name="username-inp" id="username-inp">
                <button type="submit">Ändern</button>
            </form>
        </section>
        <section>
            <h2>Passwort</h2>
            <button id="btn-reset-passwd">Passwort zurücksetzen</button>
        </section>
    </main>
    <%- include('../src/templates/footer.html') %>
</body>

</html>