.product {
    --_img-max-width: 50%;
    margin-block: 2em;
    padding: 2em;
    border-radius: 1em;
    overflow: hidden;
    background-color: purple;

    img {
        display: block;
    }

    [data-field="price"] {
        text-align: right;
    }
    
    [data-field="image-input"] {
        position: fixed;
        width: 0;
        height: 0;
        visibility: hidden;
    }
    
    .file-picker-label {
        max-width: 31.25em;
        display: block;
        .wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: .5em;
        }
    }
}

.stats-list {

    .heading, .stat {
        display: flex;
        flex-direction: row;
    }
}