
#loginForm {
    width: fit-content;
    margin: 3rem;
    padding: 2.5em;
    outline: .2em dashed black;
    
    * {
        display: block;
        font-size: 1em;
    }


    label {
        width: fit-content;
    }

    input {
        accent-color: violet;
    }

    label.checkbox-label {
        display: inline;
    }

    input.checkbox-input {
        display: inline;
    }

    #password-inp {
        margin-bottom: 1em;
    }

    button {
        display: block;
    }
}

.filler {
    height: 26em;
}