
#loginForm {

    width: fit-content;

    * {
        display: block;
        font-size: 1em;
    }


    label {
        width: fit-content;
    }

    input {
        margin-bottom: 1em;
    }

    input:not(#stayloggedin-inp) {
        accent-color: violet;
        width: 100%;
    }

    label.checkbox-label {
        display: inline;
    }

    input#stayloggedin-inp {
        display: inline;
    }

    
    button {
        display: block;
        margin-block-start: 0.5em;
    }
}
output {
    height: 1lh;
    color: red;
    word-break: break-all;
}

#login-section {
    margin-bottom: 2em;
}

input:not(#stayloggedin-inp) {
    padding: .5em;
    margin: .5em;
    border: 0;
    box-shadow: 0 0 .6em black;
    background-color: transparent;
    outline: 0;
}
input:not(#stayloggedin-inp):is(:hover, :focus) {
    background-color: #ccc;
}