
main {
    height: 100%;
}

#loginForm {

    width: fit-content;

    * {
        display: block;
    }

    label {
        width: fit-content;
    }

    input {
        margin-bottom: 1em;
    }

    input:not(#stayloggedin-inp) {
        accent-color: violet;
        width: 100%;
    }

    label.checkbox-label {
        display: inline;
    }

    input#stayloggedin-inp {
        display: inline;
    }

    button {
        display: block;
        margin-block-start: 1.5em;
    }
}