
* {
    interpolate-size: allow-keywords;
}

#contactMsg-output {
    max-width: 100%;
    max-height: 50em;
    overflow-y: auto;
    padding: 1em;
    border: .3em solid black;
}

.message {
    margin-block: .5em;
    background-color: grey;
}

.message-header {
    background-color: darkgray;
    padding: 1em;
}

.message-content {
    padding-inline: 1em;
}

.message .message-content dt {
    font-weight: bold;
}

.message-content {
    max-width: 100%;
}

.message h3 {
    margin: 0;
}

[data-field="message"] {
    overflow-x: hidden;
    overflow-wrap: anywhere;
    white-space-collapse: collapse;
}

.message-content {
    transition: all 0.5s;
    height: 100%;
    max-height: fit-content;
    width: 100%;
    overflow-y: hidden;
}

.message:not(.open) .message-content {
    max-height: 0;
}