


* {
    interpolate-size: allow-keywords;
}

.options-list {
    max-width: fit-content;
    padding: 2em;
    backdrop-filter: blur(20em);

    a {
        color: var(--clr-text-1);
    }
}


.breadcrumbs {
    a {
        color: var(--clr-text-1);
    }

    span:has(a)::before {
        content: '> ';
    }

    a:hover {
        color: color-mix(in srgb, var(--clr-text-1) 55%, black 45%);
    }
}

header {
    margin-top: 2em;
}